<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% include'navbar.twig' %}
<a href="/articles">.. back to articles</a>
<h1>{{ article.title }}</h1>
<p>{{ article.date }}</p>
<p>{{ article.description }}</p>
</body>
</html>